@font-face {
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 400;
     src: local(''),
          url('../fonts/open-sans-v34-latin-regular.woff2') format('woff2'),
          url('../fonts/open-sans-v34-latin-regular.woff') format('woff');
}

@font-face {
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 600;
     src: local(''),
          url('../fonts/open-sans-v34-latin-600.woff2') format('woff2'),
          url('../fonts/open-sans-v34-latin-600.woff') format('woff');
}

@font-face {
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 700;
     src: local(''),
          url('../fonts/open-sans-v34-latin-700.woff2') format('woff2'),
          url('../fonts/open-sans-v34-latin-700.woff') format('woff');
}

@font-face {
     font-family: 'Open Sans';
     font-style: italic;
     font-weight: 400;
     src: local(''),
          url('../fonts/open-sans-v34-latin-italic.woff2') format('woff2'),
          url('../fonts/open-sans-v34-latin-italic.woff') format('woff');
}

@font-face {
     font-family: 'Open Sans';
     font-style: italic;
     font-weight: 800;
     src: local(''),
          url('../fonts/open-sans-v34-latin-800italic.woff2') format('woff2'),
          url('../fonts/open-sans-v34-latin-800italic.woff') format('woff');
}

:root {
     scroll-behavior: smooth;
}

button {
     cursor: pointer;
}

/* Popup menu */

.popup-menu {
     position: relative;
     display: flex;
     align-items: center;
}

.popup-menu__button {
     display: block;
     width: 220px;
     height: 80px;
     background-image: url(../img/menu-button.svg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
     border: none;
     border-radius: 5px;
}

.popup-menu_list {
     position: absolute;
     left: 50%;
     bottom: 0;
     transform: translate(-50%, 100%);
     z-index: 1;
     display: flex;
     flex-direction: column;
     align-items: center;
     flex-wrap: wrap;
     margin: 0;
     padding: 0;
     list-style: none;
     background-color: rgb(0, 0, 0, 0.8);
}

.popup-menu_list>li {
     display: flex;
     min-height: 89px;
     width: 100%;
     justify-content: center;
}

.popup-menu_link {
     display: flex;
     align-items: center;
     padding: 0 30px;
     font-family: 'Open Sans';
     font-weight: 700;
     color: rgba(224, 224, 224, 1);
     font-size: 14px;
     line-height: 24px;
     text-transform: uppercase;
     text-decoration: none;
     width: 100%;
     justify-content: center;

}

.popup-menu_link:hover {
     background-color: rgb(255, 63, 64);
}

.active {
     background-color: rgb(255, 63, 64);
}

@media screen and (min-width: 800px) {
     .popup-menu {
          display: none;
     }
}

/* Page */

.page {
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     margin: 0;
     min-height: 100vh
}

/* Header */
.header-wrapper {
     display: block;
     padding-top: 29px;
     background-color: rgba(246, 242, 242, 1)
}

@media screen and (max-width: 800px) {
     .header-wrapper {
          padding-top: 0;
     }
}

.header {
     display: flex;
     justify-content: center;
     margin: 0 auto;
     max-width: 1249px;
     min-height: 89px;
     background-color: rgba(0, 0, 0, 0.8);
}

.site-menu {
     margin-left: -30px;
}

@media screen and (max-width: 800px) {
     .site-menu {
          margin-left: initial;
     }
}

.menu-list {
     display: flex;
     flex-wrap: wrap;
     margin: 0;
     padding: 0;
     list-style: none;
}

@media screen and (max-width: 800px) {
     .menu-list {
          justify-content: center;
     }
}


.menu-list>li {
     display: flex;
     min-height: 89px;
}

.menu-link {
     display: flex;
     align-items: center;
     padding: 0 30px;
     font-family: 'Open Sans';
     font-weight: 700;
     color: rgba(224, 224, 224, 1);
     font-size: 14px;
     line-height: 24px;
     text-transform: uppercase;
     text-decoration: none;

}

.menu-link:hover {
     background-color: rgb(255, 63, 64);
}

.active {
     background-color: rgb(255, 63, 64);
}

@media screen and (max-width: 800px) {
     .site-menu {
          display: none;
     }
}

/* Intro */

.intro-wrapper {
     display: block;
     max-width: 100%;
     background-color: rgba(246, 242, 242, 1);
     padding: 0 1vw;
     padding-top: 102px;
     padding-bottom: 110px;
}

.intro {
     display: flex;
     margin: 0 auto;
     max-width: 1249px;
     justify-content: space-between;
     flex-wrap: wrap;
     align-items: flex-start;
}

@media screen and (max-width: 800px) {
     .intro-wrapper {
          flex-wrap: wrap;
     }
}

@media screen and (max-width: 1249px) {
     .intro-wrapper {
          flex-wrap: nowrap;
     }
}

.intro-heading {
     font-family: 'Open Sans';
     font-size: 60px;
     line-height: 1.2;
     font-weight: 800;
     letter-spacing: 1.5px;
     text-transform: uppercase;
     margin: 0;
     margin-bottom: 19px;
     margin-top: -15px;
}

.intro__span {
     letter-spacing: 6px;
     word-break: break-word;
     hyphens: auto;
}

@media screen and (max-width: 800px) {
     .intro-heading {
          font-size: 50px;
     }
}


.intro__span_special {
     overflow-wrap: break-word;
}

.intro-info {
     max-width: 595px;
     margin-right: 2vw;
     position: relative;
     bottom: 11px;
     width: 617px;
     margin-bottom: 20px;
}

.intro-text {
     font-family: 'Open Sans';
     font-weight: 400;
     font-size: 16px;
     line-height: 28px;
     margin: 0;
     margin-bottom: 58px;
}

.action-link {
     box-sizing: border-box;
     display: flex;
     justify-content: center;
     max-width: 227px;
     min-height: 55px;
     align-items: center;
     text-decoration: none;
     border-radius: 5px;
     font-family: 'Open Sans';
     font-size: 18px;
     line-height: 34px;
     font-weight: 700;
     padding: 0.5em 1em;
}

.action-link_red-full {
     background: rgb(255, 45, 45);
     color: rgba(246, 242, 242, 1);
     border: 2px solid rgba(255, 0, 0, 1);
}

.action-link_red-full:hover {
     background: rgba(246, 242, 242, 1);
     color: rgba(255, 0, 0, 1);
}


.action-link_red-transp {
     background-color: rgba(0, 0, 0, 0);
     color: rgba(255, 0, 0, 1);
     border: 2px solid rgba(255, 0, 0, 1);

}

.action-link_red-transp:hover {
     background-color: rgba(255, 0, 0, 1);
     color: rgba(255, 255, 255, 1);
}

.intro-video {
     width: 551px;
     height: 356px;
     object-fit: cover;
     box-shadow: -2.2px -13.8px 73px rgba(0, 0, 0, 0.29);
}

@media screen and (max-width: 700px) {
     .intro-video {
          width: 100%;
          height: auto;
     }
}

@media screen and (max-width: 1286px) {
     .intro-video {
          width: 100%;
          height: auto;
     }
}

/* Services */

.services {
     display: flex;
     margin: 0 auto;
     padding: 0 1vw;
     padding-top: 107px;
     padding-bottom: 90px;
     max-width: 1249px;
     justify-content: space-between;
     border-bottom: 2px solid rgba(236, 236, 236, 1);
     align-items: flex-start;
}

@media screen and (max-width: 800px) {
     .services {
          justify-content: center;
          flex-wrap: wrap;
          padding-bottom: 0;
     }
}

.services__info {
     max-width: 539px;
     margin-bottom: 35px;
     margin-right: 35px;
}



.services__heading {
     font-family: 'Open Sans';
     font-size: 42px;
     line-height: 55px;
     font-weight: 700;
     letter-spacing: 0.4px;
     text-transform: uppercase;
     margin: 0;
     margin-bottom: 50px;
}

.services__about {
     font-family: 'Open Sans';
     font-size: 16px;
     line-height: 1.75;
     font-weight: 400;
     margin: 0;
     margin-bottom: 64px;
}

.services__items {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: flex-start;
     max-width: 610px;
     flex: 1 1;
}

@media screen and (max-width: 800px) {
     .services__items {
          width: 100%;
     }
}

.services__item {
     max-width: 100%;
     margin-bottom: 43px;
     flex: 1 1 300px
}

.services__item_managment::before {
     content: '';
     display: block;
     width: 40px;
     height: 42px;
     background-image: url(../img/services__item_managment.svg);
     background-repeat: no-repeat;
     margin: 0;
     margin-bottom: 30px;
}

.services__item_design::before {
     content: '';
     display: block;
     width: 40px;
     height: 40px;
     background-image: url(../img/services__item_design.svg);
     background-repeat: no-repeat;
     margin: 0;
     margin-bottom: 32px;
}

.services__item_logo::before {
     content: '';
     display: block;
     width: 40px;
     height: 40px;
     background-image: url(../img/services__item_logo_branding.svg);
     background-repeat: no-repeat;
     margin: 0;
     margin-bottom: 32px;
}

.services__item_animation::before {
     content: '';
     display: block;
     width: 40px;
     height: 40px;
     background-image: url(../img/services__item_animation.svg);
     background-repeat: no-repeat;
     margin: 0;
     margin-bottom: 30px;
}

.services__tittle {
     margin: 0;
     margin-bottom: 13px;
     font-family: 'Open Sans';
     font-size: 24px;
     font-weight: 600;
     line-height: 1.2;
}

.services__text {
     font-family: 'Open Sans';
     font-size: 16px;
     line-height: 1.75;
}

/* Feature */

.feature {
     margin: 0 auto;
     max-width: 1249px;
     padding: 0 1vw;
     padding-top: 105px;
     padding-bottom: 65px;
}

.feature__header {
     margin-bottom: 88px;
}

.feature__heading {
     margin: 0;
     margin-bottom: 29px;
     font-weight: 700;
     font-family: 'Open Sans';
     font-size: 41.9876px;
     line-height: 1.2;
     text-transform: uppercase;
     letter-spacing: 0.3834px;
     color: rgba(0, 0, 0.1);
     text-align: center;
}

.feature__text {
     margin: 0 auto;
     margin-bottom: 34px;
     font-family: 'Open Sans';
     font-size: 15.9953px;
     line-height: 28px;
     color: rgba(0, 0, 0, 1);
     text-align: center;
     max-width: 537px;
}

.horizontal-rule {
     width: 134px;
     height: 2px;
     background-color: rgba(255, 45, 45, 1);
     border: none;
}

.horizontal-rule_center {
     margin: 0 auto;
}

.horizontal-rule_left {
     margin: 0;
}

.feature__list {
     margin: 0 auto;
     padding: 0;
     list-style: none;
     display: flex;
     flex-wrap: wrap;
     gap: 57px;
}

@media screen and (max-width: 933px) {
     .feature__list {
          justify-content: center;
          flex-wrap: wrap;
          align-items: center;
     }
}

@media screen and (max-width: 450px) {
     .feature__list {
          justify-content: center;
          flex-direction: column;
          gap: 10px;
     }
}

.filter {
     display: flex;
     justify-content: center;
     margin-bottom: 54px;
}

.filter__link {
     font-family: 'Open Sans';
     font-size: 22px;
     line-height: 24px;
     letter-spacing: 0.22px;
     text-transform: uppercase;
     color: rgba(0, 0, 0, 1);
     text-decoration: none;
     font-weight: 600;
}

.filter__link__active {
     color: rgba(255, 45, 45, 1);
}

.filter__link:hover {
     color: rgba(255, 45, 45, 1);
}

.feature__products {
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
     flex: 1 1;
}

.feature__product {
     width: 297px;
     object-fit: cover;
     object-position: 0% 50%;
     flex: 1 1;
}

.feature__product:hover {
     transform: scale(1.2, 1.1);
     transition: transform 0.8s ease-in-out;
}

/* Team */

.team {
     margin: 0 auto;
     padding: 0 1vw;
     padding-top: 65px;
     padding-bottom: 53px;
     max-width: 1249px;
}

.team__heading {
     margin: 0;
     margin-bottom: 35px;
     font-family: 'Open Sans';
     font-size: 41.9876px;
     line-height: 1.2;
     color: rgba(0, 0, 0, 1);
     font-weight: 700;
     letter-spacing: 0.38px;
     text-transform: uppercase;
}

.team__header {
     margin: 0;
     margin-bottom: 67px;
}

.team__text {
     margin: 0;
     margin-bottom: 38px;
     font-family: 'Open Sans';
     font-size: 16px;
     line-height: 28px;
     max-width: 450px;
}

.team__members {
     display: flex;
     display: grid;
     grid-template-columns: repeat(2, auto);
     grid-template-rows: repeat(2, auto);
     justify-content: space-between;
     column-gap: 2vw;
}

.team__lead-photo {
     object-position: bottom;
     object-fit: contain;
     grid-column: 1 / 2;
     grid-row: 1 / 3;
}

.team__inner {
     display: flex;
     flex-direction: column;
}

@supports (display: contents) {
     .team__inner {
          display: contents;
     }
}

@supports (grid-template-columns: subgrid) {
     .team__inner {
          display: grid;
          grid-template-columns: subgrid;
          grid-template-rows: subgrid;
          grid-column: 2 / 3;
          grid-row: 1 / 3;
          align-items: flex-end;
     }
}

.team__lead-main {
     max-width: 630px;
     grid-column: 2 / 3;
     grid-row: 1 / 2;
     align-self: center;
}

.team__lead-name {
     display: block;
     font-family: 'Open Sans';
     font-size: 30.127px;
     letter-spacing: 0.3834px;
     text-transform: uppercase;
     font-weight: 600;
     color: rgba(0, 0, 0, 1);
     margin: 0;
     margin-bottom: 30px;
}

.team__lead-text {
     font-family: 'Open Sans';
     font-size: 15.9953px;
     line-height: 28px;
     margin: 0;
     margin-bottom: 46px;
}

.team__lead-social {
     display: flex;
     flex-wrap: wrap;
     margin: 0;
     padding: 0;
     list-style: none;
     margin: 0;
     margin-bottom: 60px;
     gap: 34px;
}

@media screen and (max-width: 800px) {
     .team__lead-social {
          align-items: center;
          justify-content: center;
     }
}

.team__lead-link {
     font-family: 'Open Sans';
     font-size: 18px;
     line-height: 24px;
     font-style: italic;
     text-decoration: none;
     color: rgba(0, 0, 0, 1);
}

.team__lead-link:hover {
     text-decoration: underline;
     color: rgba(255, 45, 45, 1);
}

.team__other-photo {
     background-color: rgb(141, 206, 236);
     display: block;
     object-fit: none;
}

.team__others {
     display: flex;
     flex-wrap: wrap;
     grid-column: 2 / 3;
     grid-row: 2 / 3;
     align-items: center;
     gap: 20px;
}

.team__other {
     display: flex;
     position: relative;
}

.team__other-name {
     display: none;
     position: absolute;
     bottom: 0;
     z-index: 1;
     left: 0;
     width: 100%;
     text-align: center;
     padding: 10px 0;
     font-family: 'Open Sans';
     font-size: 18.0762px;
     font-weight: 600;
     color: rgba(255, 255, 255, 1);
     text-transform: uppercase;
     background-color: rgba(0, 0, 0, 0.5)
}

.team__other:hover>.team__other-name {
     display: block;
}

@media screen and (max-width:800px) {
     .team__members {
          grid-template-columns: auto;
          grid-template-rows: auto;
          row-gap: 1em;
     }

     .team__lead-photo {
          grid-row: auto;
     }

     .team__lead-main {
          grid-column: 1 / 2;
          grid-row: auto;
     }

     .team__others {
          justify-content: center;
          grid-column: 1 / 2;
          grid-row: auto;
     }
}

/* Subscribe */

.subscribe__dark {
     background-color: rgba(44, 44, 44, 1);
}

.page__inner_subscribe {
     padding: 0 1vw;
}

.subscribe {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 0 auto;
     padding: 150px 0 140px;
}

@media screen and (max-width: 800px) {
     .subscribe {
          flex-wrap: wrap;
     }
}

.subscribe__heading {
     font-family: 'Open Sans';
     font-size: 42px;
     text-align: center;
     letter-spacing: 1.05px;
     color: rgba(255, 255, 255, 1);
     font-weight: 700;
     margin-bottom: 16.5px;
     max-width: 1249px;
     margin: 0 auto;

}

@media screen and (max-width: 650px) {
     .subscribe__heading {
          font-size: 30px;
     }
}

.subscribe__text {
     margin-bottom: 59px;
     font-family: 'Open Sans';
     font-size: 15.9953px;
     line-height: 28px;
     text-align: center;
     color: rgba(255, 255, 255, 1);
}

.subscribe__form {
     display: flex;
     flex-wrap: wrap;
     gap: 22px;
     justify-content: center;
}

.subscribe__input {
     width: 448px;
     height: 79px;
     border-radius: 8px;
     border: none;
     font-family: 'Open Sans';
     font-size: 16px;
     line-height: 24px;
     letter-spacing: 0.4px;
     background-color: rgba(255, 255, 255, 1);
     color: rgba(44, 44, 44, 1);
     padding: 0 36px;
}

@media screen and (max-width:800px) {
     .subscribe__input {
          width: 100%;
     }
}

.subscribe__button {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 214px;
     height: 79px;
     background-color: rgba(255, 45, 45, 1);
     color: rgba(255, 255, 255, 1);
     font-family: 'Open Sans';
     font-size: 18px;
     line-height: 34px;
     font-weight: 700;
     letter-spacing: 0.317046px;
     text-transform: uppercase;
     border-radius: 8px;
     border: none;
}

/*Get in touch */


.feedback {
     margin: 0 auto;
     max-width: 100%;
     padding: 0 1vw;
     padding-top: 104px;
     padding-bottom: 107px;
}

.feedback__header {
     max-width: 1249px;
     margin: 0 auto;
     margin-bottom: 77px;
}

.feedback__inner {
     max-width: 752px;
}

.feedback__heading {
     font-family: 'Open Sans';
     font-size: 42px;
     letter-spacing: 0.3834px;
     text-transform: uppercase;
     font-weight: 700;
     color: rgba(0, 0, 0, 1);
}

.feedback__text {
     margin: 0;
     margin-bottom: 58px;
     font-family: 'Open Sans';
     font-size: 16px;
     line-height: 1.75;
     color: rgba(0, 0, 0, 1);
}

.horizontal-rule_left__feedback {
     margin: 0;
     margin-bottom: 74px;
}

.feedback__form>input::placeholder,
.feedback__form>textarea::placeholder {
     color: rgb(0, 0, 0);
     font-family: 'Open Sans';
     font-size: 16px;
}

.feedback__body {
     display: flex;
     flex-wrap: wrap;
     max-width: 100%;
}

.feedback__box {
     flex: 1 1 auto;
}

.feedback__box_right {
     background-color: rgba(45, 45, 45, 1);

}

.feedback__form {
     max-width: 730px;
     display: flex;
     flex-wrap: wrap;
     margin-right: 107px;
}

@media screen and (max-width:800px) {
     .feedback__form {
          width: 100%;
          margin-bottom: 20px;
     }
}

.feedback__name {
     box-sizing: border-box;
     margin-right: 50px;
     margin-bottom: 46px;
     padding: 0;
     padding-left: 54px;
     width: 339px;
     height: 69px;
     font-family: 'Open Sans';
     font-size: 16px;
     background-color: rgba(0, 0, 0, 0.1);
     border: none;
     border-radius: 5px;
     letter-spacing: 0.3px;
     align-items: center;
}

.feedback__email {
     box-sizing: border-box;
     margin-bottom: 46px;
     padding: 0;
     padding-left: 48px;
     width: 339px;
     height: 69px;
     font-family: 'Open Sans';
     font-size: 16px;
     background-color: rgba(0, 0, 0, 0.1);
     border: none;
     border-radius: 5px;
     align-items: center;
}

.feedback__button {
     box-sizing: border-box;
     padding: 0;
     width: 736px;
     height: 72px;
     background-color: rgb(255, 59, 59);
     border: none;
     border-radius: 5px;
     color: rgb(255, 255, 255);
     font-family: 'Open Sans';
     font-size: 17.9026px;
     letter-spacing: 0.3px;
     text-transform: uppercase;
     font-weight: 700;
}

@media screen and (max-width:1292px) {
     .feedback__button {
          margin-bottom: 20px;
     }
}

.feedback__textarea {
     box-sizing: border-box;
     padding: 31px 51px;
     margin-bottom: 60px;
     width: 736px;
     height: 249px;
     font-family: 'Open Sans';
     font-size: 16px;
     background-color: rgba(0, 0, 0, 0.1);
     color: rgb(0, 0, 0);
     border: none;
     border-radius: 5px;
     font-family: 'Open Sans';
     font-size: 15.9134px;
     line-height: 28px;
     align-items: center;
     resize: none;
}

@media screen and (max-width:800px) {
     .feedback__textarea {
          margin-bottom: 10px;
     }
}

.feedback__contacts {
     background-color: rgba(45, 45, 45, 1);
     padding: 141px 17px 141px 81px;
     color: rgb(255, 255, 255);
     width: 315px;
}

@media screen and (max-width:800px) {
     .feedback__contacts {
          width: 200px;
          flex-wrap: wrap;
     }
}

.contacts__heading {
     margin: 0;
     margin-bottom: 30px;
     font-family: 'Open Sans';
     font-size: 18px;
     font-weight: 700;
     max-width: 315px;
     line-height: 1.75;
}

.contacts__address {
     margin: 0;
     margin-bottom: 27px;
     font-family: 'Open Sans';
     font-size: 16px;
     color: rgb(255, 255, 255);
     line-height: 1.75;
}

@media screen and (max-width:800px) {
     .contacts__address {
          flex-wrap: wrap;
     }
}

.contacts__email {
     display: block;
     margin: 0;
     margin-bottom: 20px;
     font-family: 'Open Sans';
     font-size: 16px;
     text-decoration: none;
     color: rgb(255, 255, 255);
}

.contacts__email:hover {
     text-decoration: underline;
}

.contacts__tel {
     display: block;
     margin: 0;
     text-decoration: none;
     color: rgb(255, 255, 255);
     line-height: 1.75;
}

.contacts__tel:hover {
     text-decoration: underline;
}

/* Footer */

.footer {
     display: flex;
     margin: 0 auto;
     padding: 0 1vw;
     padding-right: 167px;
     min-height: 111px;
     justify-content: space-between;
     align-items: center;
     background-color: rgba(45, 45, 45, 1);
}

@media screen and (max-width:800px) {
     .footer {
          padding: 0;
          padding-right: 0;
     }
}

.footer__text {
     box-sizing: border-box;
     font-family: 'Open Sans';
     font-size: 16px;
     line-height: 26px;
     color: rgba(184, 184, 184, 1);
     margin: 0;
     padding-left: 169px;
}

@media screen and (max-width:800px) {
     .footer__text {
          padding: 0;
          padding-right: 0;
     }
}

.footer__social {
     margin: 0;
     display: flex;
     gap: 18px;
}

@media screen and (max-width: 800px) {
     .footer__social {
          flex-wrap: wrap;
     }
}

.social {
     display: flex;
     gap: 18px;
}

@media screen and (max-width: 800px) {
     .social {
          flex-wrap: wrap;
          align-items: center;
     }
}

/* JS */

.hide {
     display: none;
}